*{
  margin:0px;
}

header{
  margin-bottom: 30px;
}

header h1{
  background-color: black;
  font-family:serif;
  color:white;
  font-size:35px;
  padding:20px;
  text-align: center;
  font-weight: bold;
}

header div{
text-align: center;
}


header a{
  display: inline-block;
  background-color:lightgrey;
  color:white;
  padding:10px;
  font-size:20px;
  font-weight: bold;
  font-family: serif;
  text-decoration: none;
}

main{
  width:915px;
  margin:0 auto;
}

.picMessage{
  background-color: aqua;
  padding:15px;
  font-size:25px;
  font-family: georgia;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#nr{
  font-weight: bold;
  border-bottom:2px solid yellow;
}

#grid div{
  width:300px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 25px;

}

#grid img{
  display:inline-block;
}

.editDel{
  box-sizing: border-box;
  background-color: yellow;
  text-align: center;
  padding:5px 0px;
}
